@font-face {
  font-family: TungstenSemibold;
  src: url("/Assets/fonts/Tungsten-Book.ttf");
}

.login-form-container,
.register-container {
  min-height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form-content,
.register-content {
  width: 350px;
}

.login-form,
.register-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

::placeholder {
  color: #000;
}

label {
  margin: 10px 0;
}

input[type="email"],
input[type="text"],
input[type="password"] {
  padding: 10px;
  border: 1px solid #ccc;
  outline: none;
}

.login-form button,
.register-form button {
  margin-top: 30px;
  width: 150px;
  padding: 10px;
  background-color: #000;
  color: #fff;
  border: 1px solid #ccc;
}

.login-form button:hover,
.btn-register:hover {
  color: #000;
  background: #fff;
  border: 1px solid #ccc;
}

.login-form-bottom,
.register-bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.login-form-bottom a,
.register-bottom a {
  font-size: 0.9rem;
}

.login-error {
  display: none;
  margin-top: 10px;
  text-align: center;
  padding: 25px;
  background-color: #ffcccc;
  color: #ff0000;
}

/* Register Here */
.register-checbox {
  margin-top: 20px;
}

.register-checbox span {
  font-size: 0.8rem;
}

@media screen and (max-width: 720px) {
  .login-form-content {
    width: 100%;
  }
}
